# Python Intro Challenges

### Task 1:
Create a variable called name and assign it your own name. Then use print() to display the message "Hello < your name >"

### Task 2:

Create and print the following variables:

animal_name → a string

number_of_legs → an integer

height_metres → a float

is_mammal → a boolean

Then, print a sentence like:

The elephant has 4 legs, is 3.2 metres tall and it's True that it is a mammal.

### Task 3:
Create a variable called score and assign it a number between 0 and 100.
Write an if statement that checks if the score is greater than or equal to 50 and prints “You passed!”.

### Task 4:
Ask the user for a number (or set one manually).
Check if it's even or odd and print the result.

Example output: "7 is odd."

### Task 5:
Create a variable called password and set it to a string of your choice (e.g. "open123").
Then, write a programme that checks if the user’s input matches the correct password.

If the password matches, print:
Access granted.
Otherwise, print:
Access denied.

Hint: Look into the == operator in Python

### Task 6:
Write a programme that checks a student's score and prints the correct grade:

90 or above → "A"

80–89 → "B"

70–79 → "C"

Below 70 → "Needs improvement"

### Task 7:
Create a list called shopping_list with at least 5 items.
Print the whole list, then print just the first and last item.

### Task 8:
Use your list from Challenge 6:

Change one item

Add a new item to the end

Remove an item

Print the updated list each time.

### Task 9:
Create a list of 5 numbers.
Write a loop that:

Prints each number

Prints double the value of each number

### Task 10:
Create a list of 4 lowercase names.
Loop through the list and print each name in uppercase.

### Task 11:
Create a list of numbers.
Use a loop to calculate and print the total sum of all the numbers.

Hint: Use a variable like total = 0 and add to it in the loop.

### Task 12:
Create a list of numbers from 1 to 10.
Loop through the list and:

Print "Even" if the number is even

Print "Odd" if the number is odd